th {
    font-size: 20px;
}

td {
    font-size: 20px;
}

a {
    font-size: 22px;
}

a:hover {
    color: rgb(255, 174, 0);;
}

Table {
    max-width: 1500px;
    align-items: center;
    margin: auto;
}

.btn {
    color:white;
    background-color: rgb(255, 0, 255);
    font-size: larger;
    font-weight: 200;
    border: magenta;
    border-radius: 3px;
    height: max-content;
    width: 200px;
    font-weight: 1000;
    margin: 20px;
}

.btn:hover {
    color:black;
    background-color: rgb(255, 174, 0);
}


#logo-1 {
    color: white;
    animation: neon 3s infinite;
}