.landing-logo {
    width: 700px;
    height: 690px;
    margin: auto;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 50px;
}

h1 {
    margin: calc(50vh - 40px) auto 0 auto;
    font-size: 65px;
    font-weight: normal;
    display: block;
    height: auto;
    text-align: center;
  }

#logo-1 {
    color: white;
    animation: neon 3s infinite;
}

