body {
  text-align: center;
  font-family: 'Questrial', sans-serif;
  color: magenta;
  background: rgb(55,55,55);
  background: radial-gradient(circle, rgb(88, 88, 88) 0%, rgba(0,0,0,1) 100%) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.App {
  background: rgb(249,242,1);
  background: linear-gradient(304deg, rgba(249,242,1,1) 0%, rgba(249,21,239,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  color: magenta;
  margin: 40px auto;
}

div, button {
  margin: 15px
}

button {
  color:white;
  background-color: rgb(255, 0, 255);
  font-weight: 900;
}

button:hover {
  color:white;
  background-color: rgb(255, 208, 0);

}
.nav-link {
  font-size: 20px;
  color: magenta;
}
.nav-link:hover {
  color: rgb(190, 190, 2);
}

.nav-logo {
  border-radius: 5px;
}